@charset "utf-8";
/* CSS Document */

html {
	padding: 1px;
}

body {
	background: url(../images/bg.jpg) no-repeat center;
	width: 1024px;
	height: 768px;
	margin: 0 auto;
	
	font-family:Tahoma, Geneva, sans-serif;

}

.left_side {
	float: left;
	
	margin-top: 12em;
	margin-left: -8em;
}
.right_side {
	float: right;
	
	margin-top: 3em;
	margin-right: 12em;
}

#map {
	
	width: 450px;
	height: 400px;
	
	border: 8px solid #ffdc6d;
}



header {
	font-family: 'Norican', cursive;
	color:#3f7c21;
	font-size: 24px;
}

.head_left {
	width: 100px;
	float:left;
	
	margin-left: 1.5em;
}


.head_right {
	float: right;
	
	margin-right: 2em;
}

.single_body {
	background-color:#ffeeb8;
	border: 8px solid #ffdc6d;
	
	padding: 1em;
	
	width: 400px;
		
	position: absolute;
	top: 4em;
	left: 28em;
}

.garden {
	width: 250px;
	height: 385px;
	overflow-y: scroll;	
	padding: 8px;
	
	border: 8px solid #ffdc6d;
	
	background-color: #ffeeb8;
}

.garden li {
	cursor: pointer;
	list-style-type: none;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

.garden li:hover {
	background-color: #ffdc6d;
}

.garden a,
.garden a:link,
.garden a:visited {
	color: #000;
	text-decoration: none;
}

.garden li meter {
	display: inline-block;
	height: 0;
	margin: 0;
	padding: 0;
	width: 0;

	-webkit-appearance: none;
	appearance: none;
}

.rater {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;

	list-style-type: none;
	line-height: 1;
}

.rater-level {
	float: left;

	color: #666;
}

.rater-level a,
.rater-level a:link,
.rater-level a:visited {
	color: #666;
	text-decoration: none
}

.rater-level a:hover,
.rater-level a:focus,
.rater-level a:active,
.is-rated,
.is-rated a,
.is-rated a:link,
.is-rated a:visited,
.is-rated a:hover,
.is-rated a:focus,
.is-rated a:active,
.is-rated-hover a,
.is-rated-hover a:link,
.is-rated-hover a:visited {
	color: #090;
}

.info-window strong {
	display: block;
}

#geo-form {
	color:#fbc10b;
	
	font-size: 36px;
	text-shadow: -2px -2px 5px #333;
	
	float: left;
}
#adr {
	width: 250px;
	height: 35px;
	color:#999;
	font-style: italic;
	
	border: solid 3px #CCC;
}

.admin {
	width: 160px;
	height: 20px;
	
	background-color: rgb(255,238,184);
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	
	text-align:center;
	color:#000;
	font-weight:bold;
	
	text-decoration: none;
	padding: 10px; 
}
.home {
	width: 160px;
	height: 20px;
	
	background-color: rgb(255,238,184);
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	
	text-align:center;
	color:#000;
	font-weight:bold;
	
	text-decoration: none;
	padding: 10px; 
	
	position: absolute;
	top: 30em;
	left: 45em;
}
footer {
	color: #999;
	
	float: left;
	margin-top: 3em;
	margin-right: 30em;

}

